<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}{%endblock%}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    {% block styles %}{% endblock %}
</head>
<body>
    <div class="container">
        <header>
            <div class="logo">CreativeSpace</div>
            <nav>
              <a href="{{url_for('index2')}}">Главная</a>
              <a href="#">Идеи</a>
              <a href="{{url_for('about')}}">О нас</a>
            </nav>
            <div class="btn-container">
                <button class="btn">Создать пост</button>
                <div class="icon-container">
                  <!-- Иконки профиля и настроек рядом с кнопкой -->
                  <a href="{{url_for('profile')}}"> <i class="fas fa-user-circle" title="Профиль"></i></a>
                  <i class="fas fa-cogs" title="Настройки"></i>
                </div>
              </div>
        </header>
        
        {%block body%}{%endblock%}
    </div>

    <footer>
        CreativeSpace © 2025. Все права защищены. <a href="#">Политика конфиденциальности</a>.
      </footer>
</body>
</html>