<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}{%endblock%}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    {% block styles %}{% endblock %}
</head>
<body>
    <div class="container">
        <header>
            <div class="logo">CreativeSpace</div>
            <nav>
              <a href="{{url_for('index')}}">Главная</a>
              <a href="{{url_for('Home')}}">Идеи</a>
              <a href="{{url_for('about')}}">О нас</a>
            </nav>
            <a href="{{ url_for('register') }}"><button class="btn">Зарегистрироваться</button></a>

        </header>
        {%block body%}{%endblock%}
    </div>

    <footer>
        CreativeSpace © 2025. Все права защищены. <a href="#">Политика конфиденциальности</a>.
      </footer>
</body>
</html>