{% extends 'base_auto.html' %}

{%block title%}
Mao
{%endblock%}
{% block styles %}<link rel="stylesheet" href="{{ url_for('static', filename='css/Home.css') }}">{% endblock %}

{%block body%}
  <div class="container">
    <section class="best-posts">
      <h2>Лучшие посты</h2>
      <div class="best-posts-container">
        <div class="post-card"><img src="https://i.pinimg.com/736x/17/f0/22/17f022aa9c15c3299ea1804226a8478c.jpg"><h3>Идея 1</h3></div>
        <div class="post-card"><img src="https://i.pinimg.com/736x/33/c1/83/33c1837a9a62cafa23a281420bf25179.jpg"><h3>Идея 2</h3></div>
        <div class="post-card"><img src="https://i.pinimg.com/736x/40/68/ba/4068ba5632bff3b6526016bf0eadc69a.jpg"><h3>Идея 3</h3></div>
        <div class="post-card"><img src="https://i.pinimg.com/736x/7a/2b/22/7a2b22c5fcc54f37c8b15ab2b4f5fbea.jpg"><h3>Идея 4</h3></div>
      </div>
    </section>

    <section class="posts">
      <h2>Новые посты</h2>
      <div class="post">
        <div class="post-content">
          <img src="https://i.pinimg.com/736x/73/73/62/73736275cac50721ba69994ad4034443.jpg" alt="User Post" class="img">
          <div class="post-text">
            <h3>Название поста</h3>
            <p>Описание или история к фото, которую написал автор.</p>
            <div class="comments-section">
              <p>💬 10 комментариев</p>
              <p>Комментарий 1...</p>
              <p>Комментарий 2...</p>
            </div>
            <div class="comment-input">
              <textarea placeholder="Напишите комментарий..."></textarea>
              <button>Отправить</button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  {%endblock%}