{% extends 'base.html' %}

{%block title%}
Mao
{%endblock%}
{% block styles %}<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">{% endblock %}

{%block body%}
<section class="hero">
    <h1>Воплощайте свои идеи в жизнь</h1>
    <p>Платформа для публикации креативных идей и поиска единомышленников.</p>
    <a href="{{ url_for('login') }}">
      <button class="btn">Начать</button>
  </a>
    </section>

  <section class="ideas">
    <h2>Популярные идеи</h2>
    <div class="ideas-container">
      <div class="idea-card">
        <img src="https://i.pinimg.com/736x/1d/47/c5/1d47c5877fe0ba2481dadf5cf98c1bb0.jpg">
        <h3>Идея 1</h3>
        <p>Краткое описание идеи, чтобы вдохновить пользователей.</p>
      </div>
      <div class="idea-card">
        <img src="https://avatars.dzeninfra.ru/get-zen_doc/98843/pub_5b3f5454cf892600a95feb08_5b3f5485eafc3100aadbe345/scale_1200" alt="Idea 2">
        <h3>Идея 2</h3>
        <p>Краткое описание идеи, чтобы вдохновить пользователей.</p>
      </div>
      <div class="idea-card">
        <img src="https://kartinkof.club/uploads/posts/2022-03/1648693115_23-kartinkof-club-p-kartinki-smeshnie-obaldet-24.jpg" alt="Idea 3">
        <h3>Идея 3</h3>
        <p>Краткое описание идеи, чтобы вдохновить пользователей.</p>
      </div>
    </div>
  </section>

  <section class="how-it-works">
    <h2>Как это работает</h2>
    <div class="steps">
      <div class="step">
        <h3>Шаг 1</h3>
        <p>Зарегистрируйтесь на платформе.</p>
      </div>
      <div class="step">
        <h3>Шаг 2</h3>
        <p>Публикуйте свои идеи и проекты.</p>
      </div>
      <div class="step">
        <h3>Шаг 3</h3>
        <p>Находите единомышленников и создавайте вместе.</p>
      </div>
    </div>
  </section>
{%endblock%}