{% extends 'base_auto.html' %}

{%block title%}
Mao
{%endblock%}
{% block styles %}<link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">{% endblock %}

{%block body%}
<div class="container">
  <!-- Информация о пользователе слева -->
  <div class="profile-info">
    <div class="profile-header">
      <img src="https://i.pinimg.com/736x/17/fb/cb/17fbcb718a983c8b0831cb359100d030.jpg" alt="Avatar">
    </div>
    <div class="bio">
      <h2>Джу Доу</h2>
      <p>Занимаюсь коллекционированием камней <3</p>
    </div>

    <!-- Раздел для подписок и подписчиков -->
    <div class="subscriptions">
      <div class="button-container">
        <button onclick="location.href='subscriptions.html'">Посмотреть подписки</button>
      </div>
      <div class="button-container">
        <button onclick="location.href='followers.html'">Посмотреть подписчиков</button>
      </div>
    </div>
  </div>

  <!-- Посты пользователя по центру -->
  <div class="user-posts">
    <h3>Мои посты</h3>
    <div class="user-post">
      <img src="https://i.pinimg.com/736x/de/f3/eb/def3eb360d376614b6fa9a0bbd3c4954.jpg" alt="Post 1">
      <div class="post-content">
        <h3>Пополнение!!!</h3>
        <p>Только что приобрел редкий экземпляр!</p>
        <div class="like-comment-container">
          <button>👍 Лайк</button>
          <button>💬 Комментарии</button>
          <button class="share-button">🔗 Поделиться</button>
        </div>
      </div>
    </div>
    <div class="user-post">
      <img src="https://i.pinimg.com/736x/9e/de/d1/9eded15a66c42568fbde69c680a60c4f.jpg" alt="Post 2">
      <div class="post-content">
        <h3>Моя коллекция</h3>
        <p>Вот что я собрал за несколько лет!</p>
        <div class="like-comment-container">
          <button>👍 Лайк</button>
          <button>💬 Комментарии</button>
          <button class="share-button">🔗 Поделиться</button>
        </div>
      </div>
    </div>
    <div class="user-post">
      <img src="https://i.pinimg.com/736x/71/d8/42/71d8427e2cba3e9455389c4697fc666e.jpg" alt="Post 3">
      <div class="post-content">
        <h3>Моя семья</h3>
        <p>Я, Кенни, Лапух и Джо</p>
        <div class="like-comment-container">
          <button>👍 Лайк</button>
          <button>💬 Комментарии</button>
          <button class="share-button">🔗 Поделиться</button>
        </div>
      </div>
    </div>
  </div>

</div>
{%endblock%}